{% extends "base.html" %}
{% load static %}
{% block content %}
<h4>Target overview:</h4>
{% for target in targets %}
<a href='{% url "view_host" host_id=target.id %}' class="list-group-item list-group-item-action d-flex gap-3 py-3"
   aria-current="true">
    {% with 'bootstrap/bootstrap-icons-1.7.1/'|add:target.show_icon|add:'.svg' as icon_static %}
    <img src="{% static icon_static %}" class=" flex-shrink-0" width="32"
         height="32">
    {% endwith %}
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0"> {{target.name}} </h6>
            <p class="mb-0 opacity-75">{% if target.is_home %} Home {% else %} Not home {% endif %}</p>
        </div>
        <small class="opacity-50 text-nowrap">{% if target.is_home %} Home since : {{ target.arrival_time|timesince }}.
            {% else %} Away since : {{ target.departure_time|timesince }} {% endif %}</small>
    </div>
</a>
{% endfor %}
</table>

<br/>
<h4>Hosts currently home:</h4>
{% for host in home_hosts_list %}
<a href='{% url "view_host" host_id=host.id %}' class="list-group-item list-group-item-action d-flex gap-3 py-3"
   aria-current="true">
    {% with 'bootstrap/bootstrap-icons-1.7.1/'|add:host.show_icon|add:'.svg' as icon_static %}
    <img src="{% static icon_static %}" class=" flex-shrink-0" width="32"
         height="32">
    {% endwith %}
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0"> {{host.name}} </h6>
            <p class="mb-0 opacity-75">{{host.ip}}</p>
        </div>
        <small class="opacity-50 text-nowrap">Arrived: {{ host.arrival_time|timesince }} ago.</small>
    </div>
</a>
{% endfor %}

<br/>

{% if new_hosts %}
<h4>New Hosts Detection:</h4>
{% for host in new_hosts %}
<a href='{% url "view_host" host_id=host.id %}' class="list-group-item list-group-item-action d-flex gap-3 py-3"
   aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
            <h6 class="mb-0"> {{host.name}} </h6>
            <p class="mb-0 opacity-75">{{host.ip}}</p>
        </div>
        <small class="opacity-50 text-nowrap">First Detected: {{ host.first_seen }}. Last detected: {{ host.last_seen|timesince }}</small>
    </div>
</a>
{% endfor %}

{% endif %}


{% endblock content %}