{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'whoishome/style.css' %}">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<!-- <meta http-equiv="refresh" content="60; URL='{% url 'now' %}'"> -->
<header>
    <div class="menu-bar">

        <button type="button" class="collapsable"></button>
        <h2>WHOISHOMEGUI</h2>
        <div class="collapsable-content">
            <nav>
                <ul>
                    <li><a href="{% url 'now' %}">Dashboard</a></li>
                    <li class="pad-top"><a href="{% url 'settings' %}">Settings</a></li>
                </ul>
            </nav>
            <div class="menu-bar" style="height: 60px;">

            </div>

        </div>
    </div>
</header>


<div class="container">
    <div class="content-shape">
        <h4>Scanner status</h4>
        <!-- Rounded switch -->

        <br />
        <label class="switch">
            <input type="checkbox" id="startstop" {% if scanner_running %} checked {% endif %}
                onclick="scannerSwitch()">
            <span class="slider round"></span>
        </label>
        <br />
        <br />
    </div>

    <div class="content-shape">
        <h4>Target overview:</h4>
        <table class="default_table">
            <tr class="tablehead-background">
                <th>Host</th>
                <th>Last seen:</th>
                <th>Is home?</th>
            </tr>
            {% for target in targets %}
            <tr>
                <td>{{ target.name }}</td>


                <td>{{ target.last_seen }}</td>
                {% if target.is_home == True %}
                <td class="center"><img src="{% static 'whoishome/icons/yes.png' %}" alt="Yes"></td>
                {% else %}
                <td class="center"><img src="{% static 'whoishome/icons/no.png' %}" alt="No"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="content-shape">
        <h4>New Hosts Detection: </h4>
        <table class="default_table">
            <tr class="tablehead-background">
                <th>Host-Names</th>
                <th>MAC-Address:</th>
                <th>First seen:</th>
                <th>Last seen:</th>
                <th>Mark seen:</th>
            </tr>
            {% for host in new_hosts %}
            <tr>
                <td>{{ host.name }}</td>
                <td>{{ host.mac }}</td>
                <td>{{ host.first_seen }}</td>
                <td>{{ host.last_seen }}</td>
                <td> button </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

<script>
    var coll = document.getElementsByClassName("collapsable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.parentElement.classList.toggle("active");
        });
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    function scannerSwitch() {
        const startStopInput = document.getElementById('startstop');
        if (startStopInput.checked) {
            view = '/start_scanner';
        } else {
            view = '/stop_scanner';
        }
        $.get(view,)
    };
</script>
