{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast bg-success text-white" role="alert" aria-live="assertive" id="liveToast" aria-atomic="true">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Saved</strong>
            <small class="text-white"><i class="bi bi-clock"></i> Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Settings saved
        </div>
    </div>
</div>
{% if saved_flag %}
<script type="text/javascript">
    window.onload = function() {
        var toastLiveExample = document.getElementById('liveToast');
        var toast = new bootstrap.Toast(toastLiveExample);
        toast.body = "what";
        toast.show();
        };
</script>

{% endif %}

<h3>Settings</h3>
<!-- Rounded switch -->

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-{% if scanner_running %}success{% else %}danger{% endif %} active" id="scannerButton">Scanner Status
    <input type="checkbox" id="startstop" {% if scanner_running %} checked {% endif %} onclick="scannerSwitch()">
     </label>
</div>

<br/>
<br/>
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScannerSettings"
            aria-expanded="false" aria-controls="collapseExample">
        Scanner Settings
    </button>
</p>
<div class="collapse" id="collapseScannerSettings">

    <div class="modal-body">

        <form action="{% url 'settings' %}" method="post">

            {% csrf_token %}
            {{ scanner_settings_form | crispy }}
            <div class="modal-footer">
                <br/>
                <button type="submit" class="btn btn-primary" name="update_scanner_settings">Save Settings</button>
            </div>
        </form>
    </div>

</div>

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmailSettings"
            aria-expanded="false" aria-controls="collapseExample">
        E-Mail Settings
    </button>
</p>
<div class="collapse" id="collapseEmailSettings">
    <div class="modal-body">
        In the email subjects and bodys use can use the following tags to load data into the emails:
        <ul>
            <li>{target} for the name of the target/host</li>
            <li>{arrival_time} time the host arrived</li>
            <li>{departure_time} time the host left</li>
            <li>{time_home}</li>
            <li>{time_away}</li>
        </ul>

        <form action="{% url 'settings' %}" method="post">

            {% csrf_token %}
            {{ email_settings_form | crispy }}
            <div class="modal-footer">
                <br/>
                <button type="submit" class="btn btn-primary" name="update_email_settings">Save Settings</button>
            </div>
        </form>
    </div>
</div>
<br/>
<br/>
<h4>Console Log</h4>

{% for log in logfile %}
<samp>{{ log }}</samp>
<br/>
{% endfor %}
<script>

    function scannerSwitch() {
        const startStopInput = document.getElementById('startstop');
         var toastLiveExample = document.getElementById('liveToast');
         var toast = new bootstrap.Toast(toastLiveExample);
         var scannerButton = document.getElementById('scannerButton');
        if (startStopInput.checked) {
            view = '/start_scanner';
            toast.show();
            scannerButton.className = 'btn btn-success';
        } else {
            view = '/stop_scanner';
            toast.show();
            scannerButton.className = 'btn btn-danger';
        }
        $.get(view,)
    };


</script>

{% endblock content %}
