{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>An update is availble on GitHub</h2>

Your current version of WhoIsHomeUI is: {{current_version}}. The version available on GitHub is: {{github_version}}.
<br />
<br />
<h4>How to update</h4>
Unless otherwise stated in the changelog section ### Update Instructions
<ul>
    <li>In the folder containing whoishomeui: <strong>git pull</strong></li>
    <li>Then the following command <strong>docker-compose up -d --build</strong> (if this does not work try adding sudo in front)</li>
    <li>That should be it!</li>
</ul>
<br />
<a href="https://github.com/DartLazer/WhoIsHomeUI">Click here to go to the GitHub page</a>
<br />

<hr />
{% for line in changelog %}
<samp>{{line}}</samp>
<br />
{% endfor %}


{% endblock content %}