{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}



    <h3 class="card-title">WhoIsHome is locked</h3>
    The admin has locked WhoIsHome.<br />
    Please enter the password.
    <form method="POST">{% csrf_token %}

        <!-- form variable -->
        {{ login_form | crispy }}

        {% if messages %}
        {% for message in messages %}
        <br />
        <div class="alert alert-danger" role="alert">
            {{ message | safe }}
        </div>
        {% endfor %}
        {% endif %}
        <br/>
        <input class="btn btn-primary" type="submit" name="sumbit" value="Login">
    </form>
    <br />

{% endblock content %}