{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container my-4">

        <!-- Toasts for notifications -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            {% if messages %}
                {% for message in messages %}
                    <div class="toast bg-success text-white" role="alert" aria-live="assertive" id="liveToast"
                         aria-atomic="true">
                        <div class="toast-header bg-success text-white">
                            <strong class="me-auto">{{ message.extra_tags|default:"Notification" }}</strong>
                            <small class="text-white"><i class="bi bi-clock"></i> Now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message|safe }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="toast bg-success text-white" role="alert" aria-live="assertive" id="scannerToast"
                     aria-atomic="true">
                    <div class="toast-header bg-success text-white">
                        <strong class="me-auto">Saved</strong>
                        <small class="text-white"><i class="bi bi-clock"></i> Now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Settings saved
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Settings Section -->
        <div class="row">
            <div class="col-12">
                <h3>Settings</h3>
                <hr/>
            </div>


            <!-- Settings Buttons, including Scanner Switch -->
            <div class="col-12 d-flex flex-wrap gap-2">
                <!-- Scanner Status Switch -->
                <label class="btn btn-{% if scanner_running %}success{% else %}danger{% endif %} mb-2"
                       id="scannerButton">
                    Scanner Status
                    <input type="checkbox" id="startstop" {% if scanner_running %} checked {% endif %}
                           onclick="scannerSwitch()">
                </label>
                <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#scannerModal">
                    Scanner Settings
                </button>
                <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#emailModal">
                    Email Settings
                </button>
                <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#discordModal">
                    Discord Notifications
                </button>
                <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#telegramModal">
                    Telegram Notifications
                </button>
                <button class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#appSettingsModal">
                    App Settings
                </button>
            </div>
        </div>


        <!-- Include Settings Modals -->
        {% include "components/settings/scanner_settings.html" %}
        {% include "components/settings/email_settings.html" %}
        {% include "components/settings/discord_settings.html" %}
        {% include "components/settings/telegram_settings.html" %}
        {% include "components/settings/app_settings.html" %}

        <hr/>

        <!-- Timezone Setting -->
        <p>Current timezone setting: {{ timezone }}
            <i class="bi bi-info-circle" rel="tooltip" title="Edit the .env file in the base directory to change"
               id="blah" style="font-size: 0.8rem;"></i>
        </p>

        <hr/>

        <!-- Console Log Section -->
        <h4>Console Log</h4>
        <div class="console-log">
            {% for log in logfile %}
                <samp>{{ log }}</samp><br/>
            {% endfor %}
        </div>

    </div>

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            $("[rel=tooltip]").tooltip({placement: 'right'});
        });

        function scannerSwitch() {
            const startStopInput = document.getElementById('startstop');
            const toastLiveExample = document.getElementById('scannerToast');
            const toast = new bootstrap.Toast(toastLiveExample);
            const scannerButton = document.getElementById('scannerButton');
            const view = startStopInput.checked ? '/start_scanner' : '/stop_scanner';

            toast.show();
            scannerButton.className = startStopInput.checked ? 'btn btn-success' : 'btn btn-danger';

            $.get(view);
        }
    </script>

{% endblock content %}
