{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/icons/favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static '/icons/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="WhoIsHomeUI">
    <meta name="application-name" content="WhoIsHomeUI">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'timeline.css' %}" rel="stylesheet">
    <!--- Bootstrap icons -->
    <link href="{% static 'bootstrap/bootstrap-icons-1.7.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'whoishome/style.css' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>

    <title>WhoIsHome</title>
</head>

<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="/static/icons/manifest/black-vector.svg" alt="" width="24" height="24" class="d-inline-block align-text-bottom">
           WhoIsHome
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                        <i class="bi bi-house-door" style="font-size: 1.2rem;"></i>
                        Home
                    </a>
                </li>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'network_timeline' %}">
                            <i class="bi bi-journal-text" style="font-size: 1.2rem;"></i>
                            Network Timeline
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'settings' %}">
                            <i class="bi bi-gear" style="font-size: 1.2rem;"></i>
                            Settings
                        </a>
                    </li>
                    {% if update_available %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'update' %}">
                            <i class="bi bi-exclamation-circle" style="font-size: 1.2rem; color: red;"></i>
                            Update Available!
                        </a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br/>
    {% block content %}


    {% endblock %}

</div>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>

<script>
    var coll = document.getElementsByClassName("collapsable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.parentElement.classList.toggle("active");
        });
    }


</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>