{% load crispy_forms_tags %}

<div class="modal" id="discordModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Discord Settings</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                In the discord message the following templating tags are available:
                <ul>
                    <li>{target} for the name of the target/host</li>
                    <li>{arrival_time} time the host arrived</li>
                    <li>{departure_time} time the host left</li>
                    <li>{time_home}</li>
                    <li>{time_away}</li>
                </ul>

                <form action="{% url 'settings' %}" method="post">

                    {% csrf_token %}
                    {{ discord_form | crispy }}
                    <br/>
                    <button class="btn btn-primary" name="update_discord_settings" type="submit">Save & Send Test Message
                    </button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>